---
import Navbar from "../../components/Navbar.astro";
import RoleCard from "../../components/RoleCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Apply">
  <Navbar />
  <main class="mx-7 mb-7 mt-4 space-y-8 text-slate-900">
    <section>
      <h2 class="text-3xl font-bold">Staff positions</h2>
      <div class="mt-4 grid max-w-max gap-7 sm:grid-cols-2 lg:grid-cols-3">
        <RoleCard
          title="Helper"
          destination="/apply/helper"
          color="from-green-300 to-green-500"
        >
          Are you active on the server and do you enjoy helping players? Do you
          want to help us maintain a positive and enjoyable environment?
        </RoleCard>
        <RoleCard
          title="Game Engineer"
          destination="/apply/game-engineer"
          color="from-teal-300 to-teal-500"
        >
          Are you eager to learn and do you love solving problems? Consider
          joining the Game Engineer team! You'll fix bugs, ensure the server
          keeps running smoothly and develop features such as quests and new
          gameplay mechanics.
        </RoleCard>
      </div>
    </section>
    <section>
      <h2 class="text-3xl font-bold">Non-staff positions</h2>
      <div class="mt-4 grid max-w-max gap-7 sm:grid-cols-2 lg:grid-cols-3">
        <RoleCard
          title="Builder"
          destination="/apply/builder"
          color="from-blue-300 to-blue-500"
        >
          Are you a skilled builder? Do you want to help us create the world we
          all know and love, alongside some of the best builders in the
          Minecraft community?
        </RoleCard>
        <RoleCard
          title="Artist"
          destination="/apply/artist"
          color="from-pink-300 to-pink-500"
        >
          Are you a skilled artist who enjoys modelling, texturing, rendering,
          or skin making? Do you want to work with other teams to help bring the
          world we know to life?
        </RoleCard>
        <RoleCard
          title="Messenger Hawk"
          destination="/apply/messenger-hawk"
          color="from-orange-300 to-orange-500"
        >
          Are you creative and do you enjoy creating or editing videos, images,
          music, or text? Do you want to help us promote the server with high
          quality social media posts for TikTok, YouTube, Twitter, Instagram,
          and Facebook?
        </RoleCard>
      </div>
    </section>
  </main>
</Layout>
