---
import { Image } from "astro:assets";
import miner from "../../assets/Miner.png";
---

<section class="bg-cyan-100">
  <div class="pt-10">
    <div class="space-between flex max-w-full items-center gap-10">
      <div class="mx-12 mb-20 grow lg:mx-20">
        <div
          class="flex max-w-fit flex-col items-center gap-7 sm:items-start lg:ml-8"
        >
          <div
            class="flex w-max items-center gap-2 rounded-full p-1 pr-3 ring-1 ring-slate-900/10"
          >
            <span
              class="inline-block rounded-full bg-purple-300/25 px-2 py-1 font-bold text-purple-600 ring-1 ring-purple-500/50"
            >
              Join us
            </span>
            <span class="font-mono text-lg font-bold text-cyan-800">
              play.rokucraft.com
            </span>
          </div>
          <p
            class="w-max text-center text-5xl font-black tracking-tight text-cyan-950 sm:text-left sm:text-7xl xl:text-8xl"
          >
            Under <br /> construction
          </p>
          <p
            class="max-w-md text-center text-lg font-semibold text-cyan-700 sm:text-left sm:text-xl xl:max-w-lg xl:text-2xl"
          >
            We are currently working on the finishing touches of our website.
            Feel free to explore in the meantime!
          </p>
        </div>
      </div>
      <div class="self-end">
        <Image
          src={miner}
          alt=""
          loading="eager"
          class="hidden max-h-[60vh] object-contain object-right md:inline xl:max-h-[70vh]"
        />
      </div>
    </div>
  </div>
</section>
