---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Discord from "../components/sections/Discord.astro";
---

<Layout title="Rokucraft">
  <Navbar />
  <main class="min-h-screen bg-amber-100">
    <div class="grid grid-cols-2">
      <p class="m-auto text-5xl font-extrabold text-amber-900">
        Explore a <br />
        <span
          class="text-from bg-gradient-to-tr from-violet-500 to-fuchsia-500 bg-clip-text text-transparent drop-shadow-md"
        >
          wonderful world
        </span>
      </p>
    </div>
    <Discord />
  </main>
</Layout>
