---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Rokucraft">
	<Navbar />
	<main class="bg-amber-100 min-h-screen">
		<div class="grid grid-cols-2">
			<p class="font-extrabold text-5xl text-amber-900 m-auto ">
				Explore a <br>
				<span class="text-from from-violet-500 to-fuchsia-500 bg-clip-text text-transparent bg-gradient-to-tr drop-shadow-md">
					wonderful world
				</span>
			</p>

		</div>
	</main>
</Layout>

