---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Discord from "../components/sections/Discord.astro";
import Activities from "../components/sections/Activities.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/sections/Hero.astro";
---

<Layout title="Rokucraft">
  <Navbar />
  <main class="bg-cyan-100 text-slate-900">
    <Hero />
    <Activities />
    <Discord />
    <Footer />
  </main>
</Layout>
