---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Rokucraft Map">
    <div class="flex flex-col h-screen">
        <Navbar />
        <iframe src="https://map.rokucraft.com" class="grow"></iframe>
    </div>
</Layout>

