---
// TODO: Add tooltip on hover and copy on click
---

<button
  class="rounded-md bg-fuchsia-300/30 px-4 py-2 font-mono font-bold text-fuchsia-700 shadow-md ring-1 ring-fuchsia-400/80 transition hover:shadow-lg"
>
  play.rokucraft.com
</button>
