---
type Link = {
  label: string;
  href: string;
};

const links = [
  {
    label: "Rules",
    href: "/rules",
  },
  {
    label: "Map",
    href: "/map",
  },
  {
    label: "Forum",
    href: "https://forum.rokucraft.com/",
  },
  {
    label: "Wiki",
    href: "https://wiki.rokucraft.com/",
  },
] satisfies Link[];
---

<div
  class="sticky top-0 z-50 flex items-center justify-between gap-8 bg-amber-100 px-10 py-4 text-xl font-semibold "
>
  <div class="flex items-center gap-8 text-stone-900 ">
    <a href="/" class="font-display text-3xl font-normal transition-colors duration-200 hover:text-amber-900">
      Rokucraft
    </a>
    {
      links.map((link) => (
        <a
          href={link.href}
          target={link.href.startsWith("http") ? "_blank" : "_self"}
          class="group flex whitespace-nowrap transition-colors duration-200 ease-in-out hover:text-amber-900"
        >
          <span>{link.label}</span>
          {link.href.startsWith("http") && (
            <span class="text-stone-700 group-hover:text-inherit">↗</span>
          )}
        </a>
      ))
    }
  </div>
  <a
    href="https://store.rokucraft.com"
    class="whitespace-nowrap rounded-full bg-gradient-to-tr from-violet-500 via-fuchsia-500 to-pink-500 bg-[size:200%] bg-left-bottom py-1 px-4 text-white shadow-md transition-all duration-300 ease-in-out hover:bg-right-top"
  >
    Donation Store
  </a>
</div>
