---
import classNames from "../scripts/classnames";
type Props = {
  title: string;
  destination: string;
  color: string;
};

const { title, destination, color } = Astro.props;
---

<div
  class={classNames(
    "max-w-sm text-slate-900 shadow ring-1 ring-cyan-900/5 p-7 rounded-2xl flex flex-col justify-between gap-7",
    color
  )}
>
  <div>
    <h2 class="mb-3 text-2xl font-bold">{title}</h2>
    <p class="font-medium text-slate-900/75">
      <slot />
    </p>
  </div>
  <a
    href={destination}
    class="self-end rounded-full bg-white px-4 py-2 font-bold transition-colors hover:bg-slate-100"
  >
    Apply →
  </a>
</div>
