---
import type { SimpleIcon } from "simple-icons";

type Props = {
  icon: SimpleIcon;
  class?: string;
};

const {
  icon: { title, path },
  class: clazz,
} = Astro.props;
---

<svg class={clazz} viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <title>{title}</title>
  <path d={path}></path>
</svg>
