---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

type Props = {
  title: string;
  iframeSource: string;
};

const { title, iframeSource } = Astro.props;
---

<Layout title={title}>
  <div class="flex h-screen flex-col">
    <Navbar />
    <iframe title={title} src={iframeSource} class="grow"></iframe>
  </div>
</Layout>
