---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Navbar />
  <main class="m-6 mb-20">
    <div class="prose prose-slate prose-cyan mx-auto">
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
